#menu-button {
    position: relative;
    z-index: 11;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
    background: none;
}

#menu-button div, #menu-button div::before, #menu-button div::after {
    display: block;
    background-color: var(--main-fg-color);
    border: none;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-button div::before {
    display: block;
    position: absolute;
    content: "";
    margin-top: -8px;
}

#menu-button div::after {
    display: block;
    position: absolute;
    content: "";
    margin-top: 8px;
}

#menu-button.expanded div {
    background-color: transparent;
}

#menu-button.expanded div::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-button.expanded div::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

.header-menu {
    position: absolute;
    right: -20em;
    top: 100%;
    z-index: 10;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: transform 400ms ease-in-out;
    transform: translateX(0);
}

.header-menu.on-screen {
    transform: translateX(-20em);
}

.header-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-popup-bg-color);

    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-overlay.on-screen {
    opacity: 1;
    pointer-events: all;
}

.header-menu .button {
    cursor: pointer;
    margin: 0.5em 0;
    line-height: 0%;
}

.header-menu .button.dangerzone {
    background: var(--main-neg-bg-color);
}

.header-menu .button.dangerzone.clickable {
    border-style: dashed;
}

.header-menu .button.dangerzone:active {
    background: var(--main-neg-highlight-color);
}

.header-menu .button.dangerzone:focus {
    background: var(--main-neg-highlight-color);
}