<h1>TRACKER</h1>
<button id="menu-button">
  <div></div>
</button>
<div id="header-overlay" class="header-overlay">
</div>
<div id="header-menu" class="header-menu">
  <button id="header-reset" class="button dangerzone">Reset</button>
  <button id="header-save-button" class="button">Save...</button>
  <button id="header-load-button" class="button">Load...</button>
</div>
