<section id="report">
    <template id="report-header">
        <tr>
            <th>Task</th>
            <th>Ended</th>
            <th>Duration</th>
        </tr>
    </template>
    <template id="report-item">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </template>
    <table id="report-table">
    </table>
</section>
