#menu-button {
    position: relative;
    z-index: 11;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
    background: none;
}

#menu-button div, #menu-button div::before, #menu-button div::after {
    display: block;
    background-color: var(--main-fg-color);
    border: none;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-button div::before {
    display: block;
    position: absolute;
    content: "";
    margin-top: -8px;
}

#menu-button div::after {
    display: block;
    position: absolute;
    content: "";
    margin-top: 8px;
}

#menu-button.expanded div {
    background-color: transparent;
}

#menu-button.expanded div::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-button.expanded div::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

.off-right {
    transform: translateX(100%);
}

.header-menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-popup-bg-color);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-menu button {
    cursor: pointer;
    margin: 0.5em 0;

    border: none;
    border-radius: 0.25em;
    color: rgb(46, 51, 61);
    background-color: var(--main-fg-color);
    padding: 1em;
    line-height: 0%;
    border: solid 2px transparent;
}