#planner {
    width: 100%;
    position: relative;
    padding: 0.5em 0.5em 0 0.5em;
}

#planner-background {
    display: grid;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 1em;
    bottom: 0;
    right: 1em;
}

#planner-tasks {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0.5em 0.5em;
    pointer-events: none;
    position: relative;
    z-index: 1;
}

.week {
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
}

.header-col {
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-col:not(:last-child) {
    border-right: solid 1px var(--main-fg-color);
}

.task {
    background-color: var(--main-fg-color);
    border: solid 1px var(--main-highlight-color);
    border-radius: 0.25em 0 0 0.25em;
    color: var(--main-bg-color);
    margin: 0.5em 0;
    pointer-events: all;
    cursor: pointer;
    display: flex;
    justify-content: stretch;
    overflow: hidden;
}

.task.focus {
    margin-right: auto !important;
}

.task:hover {
    background-color: var(--main-highlight-color);
    border: solid 1px var(--main-fg-color);
}

.task.started {
    border-left: solid 0.3em var(--main-start-color);
}

.task.focus {
    background-color: var(--main-highlight-color);
}

.task.complete {
    border-right: solid 0.3em var(--main-end-color);
    border-radius: 0.25em;
}

.task p {
    overflow: clip;
    white-space: nowrap;
    padding: 0.5em;
    flex-grow: 1;
}

.task button {
    padding: 0 0.4em;
    display: none;
    background: none;
    border: none;
    background-color: var(--main-neg-bg-color);
    color: var(--main-fg-color);
}

.task.focus button {
    display: block;
}

.task.focus.complete button {
    display: none;
}

.task button:hover {
    color: var(--main-neg-highlight-color);
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-popup-bg-color);
    z-index: 3;
}

.popup form {
    padding: 2em;
    border-radius: 1em;
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--secondary-bg-color));
    display: flex;
    flex-direction: column;
}

.popup form > * {
    margin: 0.5em;
}

.popup div {
    display: flex;
    justify-content: space-between;
}

.popup fieldset {
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup fieldset > :first-child {
    margin-right: 0.5em;
}

.popup .end-date {
    display: none;
}

.popup input {
    padding: 0.5em;
    flex-grow: 1;
}

.popup button {
    padding: 0.5em 2em;
    cursor: pointer;
}

.popup button[type=reset] {
    color: var(--main-neg-bg-color);
    background-color: transparent;
    border: none;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

.popup button, .popup input {
    background-color: var(--main-fg-color);
}

button.delete {
    background-color: var(--main-neg-bg-color);
}

.popup .right {
    display: flex;
    justify-content: flex-end;
    margin: -0.8em -0.5em 0.5em;
}