<section id="report">
    <template id="report-header">
        <tr>
            <th>Task</th>
            <th>Ended</th>
        </tr>
    </template>
    <template id="report-item">
        <tr>
            <td></td>
            <td></td>
        </tr>
    </template>
    <h2>Finished:</h2>
    <table id="report-finished">
    </table>
    <h2>Started:</h2>
    <table id="report-started">
    </table>
    <h2>Ongoing:</h2>
    <table id="report-ongoing">
    </table>
</section>
