
<section id="end-task-prompt" hidden>
  <form id="end-task-form">
    <div class="right">
      <button type="reset">X</button>
    </div>

    <fieldset>
      <label>End: </label>
      <input type="datetime-local" id="end-task-end-date" />
    </fieldset>

    <div>
      <button type="submit">OK</button>
    </div>
  </form>
</section>