<h1>TRACKER</h1>
<button id="menu-button">
  <div></div>
</button>
<div id="header-overlay" class="header-overlay off-right">
</div>
<div id="header-menu" class="header-menu off-right">
  <button id="header-save-button">Save...</button>
  <button id="header-load-button">Load...</button>
</div>
