<h1>TRACKER</h1>
<div>
  <button id="previous-button" class="button">&ltcc;</button>
  <button id="new-activity" class="button">+</button>
  <button id="next-button" class="button">&gtcc;</button>
</div>