<section id="new-task-prompt" hidden>
  <form id="new-task-form">
    <input id="new-task-id" type="text" hidden/>

    <div class="right">
      <button type="reset">X</button>
    </div>

    <fieldset>
      <label>Task: </label>
      <input type="text" placeholder="description" id="new-task-description" required />
    </fieldset>

    <fieldset>
      <label>Start: </label>
      <input type="datetime-local" id="new-task-start-date" required />
    </fieldset>

    <div>
      <button type="submit">OK</button>
    </div>
  </form>
</section>