<div id="planner-nav">
  <div class="nav">
    <button id="planner-previous" class="button">&ltcc;</button>
    <h2 id="planner-heading"></h2>
    <button id="planner-next" class="button">&gtcc;</button>
  </div>

  <button id="planner-new" class="new button">+</button>
</div>