<section id="planner">
  <h2 id="planner-heading"></h2>
  <div class="wrapper">
    <!-- Planner headers and columns -->
    <template id="header-tpl">
      <div class="header-col">
        <p></p>
      </div>
    </template>
    <div id="planner-background" class="week"></div>

    <!-- Task plotting overlay -->
    <template id="task-tpl">
      <div class="task">
        <p></p>
        <button>x</button>
      </div>
    </template>
    <div id="planner-tasks" class="overlay"></div>
  </div>
</section>

{{> new-task-prompt }}

{{> update-task-prompt }}

{{> end-task-prompt }}