<section id="update-task-prompt" hidden>
  <form id="update-task-form">
    <div class="right">
      <button type="reset">X</button>
    </div>

    <fieldset>
      <label>Task: </label>
      <input type="text" placeholder="description" id="update-task-description" required />
    </fieldset>

    <fieldset>
      <label>Start: </label>
      <input type="datetime-local" id="update-task-start-date" required />
    </fieldset>

    <fieldset id="update-task-end-date-fieldset">
      <label>End: </label>
      <input type="datetime-local" id="update-task-end-date" />
    </fieldset>

    <div>
      <button type="submit">OK</button>
      <button type="submit" id="update-task-delete" class="delete">Delete</button>
    </div>
  </form>
</section>
