:root {
    --main-bg-color: rgb(192, 200, 228);
    --secondary-bg-color: rgb(187, 207, 251);
    --main-fg-color: rgb(28, 45, 66);
    --main-highlight-color: rgb(54, 139, 118);
    --main-popup-bg-color: rgba(142, 162, 202, 0.9);
    --main-neg-bg-color: rgb(218, 71, 71);
    --main-neg-highlight-color: red;
    --main-start-color: green;
    --main-end-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    color: var(--main-fg-color);
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--secondary-bg-color));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header, section {
    padding: 1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.grow {
    flex-grow: 1;
}

.button {
    border: none;
    border-radius: 0.25em;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    padding: 1em;
    line-height: 0%;
    border: solid 2px var(--main-fg-color);
}

.button:hover, .button:focus {
    background-color: var(--main-highlight-color);
}

.button:active {
    border: solid 2px var(--main-fg-color);
}
